:root {
  --textclr: #e3e3e3;
  --textclrfade: #e3e3e3aa;
  --componentbg: #7491af;
  --mainclr1: #5b9292;
  --mainclr2: #74b0b0;
  --placeholderclr: #e3e3e398;
  --selectedclr: #69acac;
  --hover: #00000080;
}
.header {
  color: var(--textclr);
  font-family: "Ubuntu";
  text-align: center;
  font-size: 2rem;
  margin-top: 100px;
}

#title {
  position:absolute;
  border-radius: 50px;
  background: var(--componentbg);
  color: var(--textclr);
  padding: 5px;
  min-width: 550px;
  max-width: 100vw;
  max-height: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginButton {
  position: absolute;
  top: calc(45vh + 230px);
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 100px;
  background: var(--componentbg);
  color: var(--textclr);
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  width: 200px;
  height: 75px;
  text-align: center;
  border: none;
  transition: 0.5s;
}

.loginButton:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

#username,
#password {
  height: 50px;
  font-size: 20px;
  width: 400px;
  right: calc(50vw - 200px);
  position: absolute;
  top: 45vh;
  border-radius: 50px;
  background-color: var(--componentbg);
  color: var(--textclr);
  border: hidden;
  transition: 0.5s;
}
#password {
  top: calc(45vh + 70px);
}

#username:hover,
#password:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}